body{
    display: flex;
    width: 1920px;
    padding: 100px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 36px 66px;
    background: var(--branco-fundo, #E0DCEB);
}
.produtocontainer{
    display: flex;
width: 300px;
height: 500px;
padding: 14px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 24px;
background: var(--cor-fundo-inputs, #F0F0F0);
}
.estrela{
    width: 14px;
height: 14px;
}
.avaliacao{
    width: 19px;
height: 11px;
color: var(--roxo-principal, #483D8B);
font-family: Rubik;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.imagem{
    width: 180px;
height: 200px;
flex-shrink: 0;
}